*.pyc
.project
.idea
.pydevproject
.DS_store
user_configs/Lmono_CC*
reference_genomes/10403S.*
reference_genomes/CP002001.*
reference_genomes/CP002004.*
reference_genomes/CP006046.*
reference_genomes/CP006047.*
reference_genomes/CP006592.*
reference_genomes/CP006593.*
reference_genomes/CP006862.*
reference_genomes/Clip80459.*
reference_genomes/FR733650.*
reference_genomes/FR733651.*
reference_genomes/R2-502.*
reference_genomes/RL1500012901.*
reference_genomes/HG813249.*
